<ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <%= embedded_svg("google-translate", class: "svg-flags") %>
        <span><%= t ('.languages') %></span>
      </a>
      <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
        <li class="">
            <%= link_to("http://en.localhost:3000#{request.env['PATH_INFO']}", class: "dropdown-item") do %>
                <%#= embedded_svg("us", class: "svg-flags") %> <!-- connect icon flag -->
                <span>English</span>
            <% end %>
        </li>
        <li>
            <%= link_to("http://ru.localhost:3000#{request.env['PATH_INFO']}", class: "dropdown-item") do %>
                <%#= embedded_svg("ru", class: "svg-flags") %>
                <span>Русский</span>
            <% end %>
        </li>
        <li>
            <%= link_to("http://de.localhost:3000#{request.env['PATH_INFO']}", class: "dropdown-item") do %>
                <%#= embedded_svg("de", class: "svg-flags") %>
                <span>Deutsche</span>
            <% end %>
        </li>
      </ul>
    </li>
</ul>
